body {
  margin: 0;
  padding: 0;
  background-color: green;
}
.div-father {
  margin: 0;
  padding: 0;
}
.football {
  border-radius: 50%;

  margin: 0 600px;
}
.div1 {
  margin: 0px;
  padding: 0px;
  z-index: 1;
  background-color: green;
  padding-top: 30px;
}
h1 {
  width: 2036px;
  height: fit-content;
  margin: 0;
  padding: 0;
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}
.p1 {
  font-size: xx-large;
  text-align: center;
}
.playerdiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 100px;
  font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
}
.cr7 {
  background-color: white;
  padding: 10px;
}
.cr7:hover {
  background-color: rgba(255, 255, 255, 0.471);
  padding: 10px;
  border: 6px blue dashed;
}
.misse {
  background-color: white;
  padding: 10px;
}
.misse:hover {
  background-color: rgba(255, 255, 255, 0.471);
  padding: 10px;
  border: 6px blue dashed;
}
.viny {
  background-color: white;
  padding: 10px;
}
.viny:hover {
  background-color: rgba(255, 255, 255, 0.471);
  padding: 10px;
  border: 6px blue dashed;
}
.bily {
  background-color: white;
  padding: 10px;
}
.bily:hover {
  background-color: rgba(255, 255, 255, 0.471);
  padding: 10px;
  border: 6px blue dashed;
}
.lamen {
  background-color: white;
  padding: 10px;
}
.lamen:hover {
  background-color: rgba(255, 255, 255, 0.471);
  padding: 10px;
  border: 6px blue dashed;
}
.mpape {
  background-color: white;
  padding: 10px;
}
.mpape:hover {
  background-color: rgba(255, 255, 255, 0.471);
  padding: 10px;
  border: 6px blue dashed;
}
.rafinya {
  background-color: white;
  padding: 10px;
}
.rafinya:hover {
  background-color: rgba(255, 255, 255, 0.471);
  padding: 10px;
  border: 6px blue dashed;
}
.pedry {
  background-color: white;
  padding: 10px;
}
.pedry:hover {
  background-color: rgba(255, 255, 255, 0.471);
  padding: 10px;
  border: 6px blue dashed;
}
.in1 {
  width: 150px;
  height: 50px;
  background-color: yellow;
  border: 5px black solid;
}
.in1:hover {
  border: 6px black dashed;
}
.in1:focus {
  background-color: blue;
}
.in2 {
  height: 30px;
}
.a1 {
  font-size: xx-large;
  color: orangered;
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  margin-top: 20px;
  margin-right: 20px;
  background-color: rgb(193, 190, 218);
  padding: 5px;
  width: fit-content;
  margin-left: 30px;
}
